.-nas-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #1a283a;
}
.-nas-header {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: #1a283a;
}
.-nas-navlink {
  display: contents;
}
.-nas-image {
  width: 182px;
  height: 145px;
  text-decoration: none;
}
.-nas-nav {
  display: flex;
  position: relative;
}
.-nas-navlink1 {
  display: contents;
}
.-nas-navigation-links {
  text-decoration: none;
}
.-nas-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.-nas-login {
  border-width: 0px;
  margin-right: var(--dl-space-space-twounits);
}
.-nas-burger-menu {
  display: none;
}
.-nas-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.-nas-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.-nas-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.-nas-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.-nas-image1 {
  height: 2rem;
}
.-nas-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.-nas-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.-nas-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.-nas-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.-nas-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.-nas-text {
  color: #ffffff;
  height: 81px;
  align-self: center;
}
.-nas-li {
  color: #ffffff;
  width: 270px;
  height: 44px;
  font-size: 24px;
}
.-nas-text1 {
  color: #ffffff;
  font-size: 24px;
}
.-nas-li1 {
  color: #ffffff;
  width: 268px;
  height: 50px;
  font-size: 24px;
}
.-nas-text2 {
  color: #ffffff;
  font-size: 24px;
}
.-nas-li2 {
  color: #ffffff;
  width: 268px;
  height: 53px;
  font-size: 24px;
}
.-nas-footer {
  display: flex;
  padding: var(--dl-space-space-twounits);
  max-width: var(--dl-size-size-maxwidth);
  align-self: stretch;
  align-items: center;
  justify-content: space-between;
  background-color: #1a283a;
}
.-nas-navlink2 {
  display: contents;
}
.-nas-image2 {
  width: 229px;
  height: 177px;
  object-fit: cover;
  text-decoration: none;
}
.-nas-text8 {
  color: #ffffff;
}
.-nas-icon-group1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.-nas-icon10 {
  fill: #D9D9D9;
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.-nas-icon12 {
  fill: #D9D9D9;
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.-nas-icon14 {
  fill: #D9D9D9;
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
@media(max-width: 767px) {
  .-nas-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .-nas-nav {
    display: none;
  }
  .-nas-btn-group {
    display: none;
  }
  .-nas-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .-nas-text {
    align-self: center;
  }
  .-nas-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .-nas-text8 {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .-nas-header {
    padding: var(--dl-space-space-unit);
  }
  .-nas-icon {
    fill: #ffffff;
  }
  .-nas-mobile-menu {
    padding: 16px;
  }
  .-nas-text {
    color: rgb(255, 255, 255);
    align-self: center;
    text-transform: inherit;
  }
  .-nas-footer {
    padding: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .-nas-image2 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .-nas-text8 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
}
