.navigation-links-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links-text {
  color: #ffffff;
}
.navigation-links-text1 {
  color: #ffffff;
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links-text2 {
  color: #ffffff;
  margin-left: var(--dl-space-space-twounits);
}








.navigation-links-root-class-name8 {
  align-self: stretch;
}

.navigation-links-root-class-name10 {
  align-self: stretch;
}
.navigation-links-root-class-name12 {
  align-self: stretch;
}

.navigation-links-root-class-name14 {
  align-self: stretch;
}

.navigation-links-root-class-name16 {
  align-self: stretch;
}

.navigation-links-root-class-name18 {
  align-self: stretch;
}

.navigation-links-root-class-name20 {
  align-self: stretch;
}

@media(max-width: 767px) {
  .navigation-links-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-text {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}
